---
layout: page
---
<section class="section profile" id="profile">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Introduction</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <p class="intro">I'm an experienced Product Owner focused on building high quality software to solve business challenges the right way.  My experience to date mostly involves managing projects for digital marketing applications and platforms.</p>
            </div>
        </div>
    </div>
</section>
<section class="experience section" id="experience">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Experience</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <div class="entry">
                    <div class="grid">
                        <div class="grid-item one-whole lg-two-thirds">
                            <h2>Product & Platform Development Lead</h2>
                        </div>
                        <div class="grid-item one-whole lg-one-third text-right">
                            <p class="experience-location h3">Pronto Marketing</p>
                        </div>
                    </div>
                    <p class="experience-date">April 2010 – December 2015</p>
                    <p class="experience-date"><a href="https://www.prontomarketing.com">www.prontomarketing.com</a></p>
                    <p class="experience-description">I served as the Platform & Product Development Lead for Pronto wearing a few different hats directing our IT efforts. In this role I was the technology head of the company leading our platform develop as a Scrum Product Owner, heading up our internal IT with one dedicate staff, and responsible for managing and growing our scrum software engineering team from five to thirteen. During this I successfully lead two different large projects from conception, through development, launch, and ongoing developments and improvements. I worked closely with and aligned business objectives with our Scrum Master. Responsibilities included:</p>
                    <ul>
                        <li>Manage the Software Engineering team, hiring, and performance reviews.</li>
                        <li>Software product conception and implementation strategy to solve business objectives.</li>
                        <li>Facilitate software development through Scrum as the Product Owner.</li>
                        <li>Work with key stakeholders in the company to develop concepts and prioritize the product backlog.</li>
                        <li>Deliver Bi-monthly Sprint Reviews with business stakeholders to review development progress.</li>
                        <li>Manage infrastructure reliability and cost optimization on AWS.</li>
                        <li>Manage internal IT operations, oversee all technology (SaaS and hardware) requirements for the company.</li>
                    </ul>
                </div>
                <div class="entry">
                    <div class="grid">
                        <div class="grid-item one-whole lg-one-half">
                            <h2>Account Manager</h2>
                        </div>
                        <div class="grid-item one-whole lg-one-half text-right">
                            <p class="experience-location h3">OrderWork Ltd</p>
                        </div>
                    </div>
                    <p class="experience-date">August 2008 – August 2009</p>
                    <p class="experience-description">My position as Account Manager at OrderWork was a great learning experience for me while living in London. OrderWork was a young and growing company at the time that needed hands on Account Managers to help delivering great service to their corporate clients and grow their base of service providers. Responsibilities included:</p>
                    <ul class="">
                        <li>Design processes and procedures to build successful relationships with clients.</li>
                        <li>Coordinate client meetings and visits to effectively grow market share within accounts</li>
                        <li>Conduct customer training meetings with clients – particularly with new clients.</li>
                        <li>Recruit, vet and approve service partners (including face-to-face interviews).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="experience section" id="experience">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Notable Projects</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <div class="entry">
                    <div class="grid">
                        <div class="grid-item one-whole lg-one-half">
                            <h2>Pronto Dashboard</h2>
                        </div>
                        <div class="grid-item one-whole lg-one-half text-right">
                            <p class="experience-location h3">Integrated Marketing Platform</p>
                        </div>
                    </div>
                    <p class="experience-date"><strong>Product Owner</strong> - December 2013 – December 2015</p>
                    <p class="experience-date"><a href="https://app.prontomarketing.com">app.prontomarketing.com</a></p>
                    <p class="experience-description">As a marketing agency with 1,000+ clients and dozens of services, Pronto faced challenges scaling to the next level with our business data spread across multiple systems and SaaS services. This project started with building a Customer Portal with integrations to our billing system (Zuora), CRM (HubSpot), support system (Zendesk), and a custom onboarding system with a dynamic form wizard. We also integrated with our website development platform, WordPress Multisite, to bring core customer data together into the same application and facilitate automated sync across systems. <a href="https://www.prontomarketing.com/2014/10/everything-pronto-all-in-one-place/" target="_blank">Read the Announcement</a></p>
                    <p class="experience-description">From there we entered new territory focusing on our customers with marketing performance dashboards for Website Traffic, Web Leads, Keyword Tracking, Competitor Tracking, and Monthly Performance Reports. This involved a whole new set of integrations to Google Analytics, Moz, and Authority Labs Partner API. <a href="https://www.prontomarketing.com/2015/02/launched-the-ultimate-marketing-dashboard-for-your-small-business/" target="_blank">Read the Announcement</a></p>
                </div>
                <div class="entry">
                    <div class="grid">
                        <div class="grid-item one-whole lg-one-half">
                            <h2>Phoenix Platform</h2>
                        </div>
                        <div class="grid-item one-whole lg-one-half text-right">
                            <p class="experience-location h3">High Performance WordPress</p>
                        </div>
                    </div>
                    <p class="experience-date"><strong>Product Owner</strong> - December 2012 – December 2015</p>
                    <p class="experience-date"><a href="https://www.prontomarketing.com/showcase/">www.prontomarketing.com</a></p>
                    <p class="experience-description">Pronto needed a website platform to build and maintain 1,000s of unique websites for their customers to scale. Key goals for this project included mobile friendliness (responsive), ease of site development, maintainability, flexibility, and performance. The platform now has more than 700 websites, page load times of < 2s, 99.997% uptime on less than $1,000/m infrastructure costs. We used top tier technologies such as Varnish, Nginx, HHVM, Memcached deployed on AWS using Route 53, Ec2, Elasticache, and RDS. <a href="https://www.prontomarketing.com/2014/01/phoenix-lets-business-websites-soar-to-new-heights/" target="_blank">Read the Annoucement</a> / <a href="https://www.prontomarketing.com/showcase/" target="_blank">View Showcase</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="education section" id="speaking">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Speaking</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <h2>Practical Guide for First Time Product Owners</h2>
                <div class="grid-item one-whole md-one-half lg-two-fifths">
                    <div class="entry">
                        <p class="education-award">Agile Tour 2014</p>
                        <p class="education-date">Bangkok, Thailand</p>
                        <p class="education-date"><a href="https://docs.google.com/presentation/d/1P6rkLoc1hVMjcRCFCCW0SsNeOjbMqI_TzGA0uVAxO-4/edit?usp=sharing" target="_blank">Slide Deck</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="education section" id="education">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Education & Certifications</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <h2>Certified Scrum Product Owner</h2>
                <div class="grid-item one-whole md-one-half lg-two-fifths">
                    <div class="entry">
                        <p class="education-award">CSPO Certification Awarded</p>
                        <p class="education-date">February, 2014</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <h2>MBA, International Business</h2>
                <div class="grid-item one-whole md-one-half lg-two-fifths">
                    <div class="entry">
                        <p class="education-award">American International College</p>
                        <p class="education-date">2008-2009</p>
                    </div>
                </div>
                <div class="grid-item one-whole md-one-half lg-two-fifths lg-push-one-fifth">
                    <div class="entry">
                        <p class="education-award">Awarded Thesis Project Distinction</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <h2>Bachelors, Business Administration</h2>
                <div class="grid-item one-whole md-one-half lg-two-fifths">
                    <div class="entry">
                        <p class="education-award">University of Kentucky</p>
                        <p class="education-date">2004-2008</p>
                    </div>
                </div>
                <div class="grid-item one-whole md-one-half lg-two-fifths lg-push-one-fifth">
                    <div class="entry">
                        <p class="education-award">Minor, International Business</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<section class="languages section" id="languages">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Languages</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
        <div class="section-content">
            <div class="grid">
                <div class="grid-item one-whole md-one-half lg-two-fifths">
                    <div class="languages-expertise">
                        <p>Earned a black belt for:</p>
                        <ul class="list-styled">
                            <li>AWS Architect</li>
                            <li>CSS3</li>
                            <li>HTML5</li>
                        </ul>
                    </div>
                </div>
                <div class="grid-item one-whole md-one-half lg-two-fifths lg-push-one-fifth">
                    <div class="languages-proficiency">
                        <p>General awesomeness with:</p>
                        <ul class="list-styled">
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>PHP</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="software section" id="software">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Software & Applications Knowledge</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <div class="grid">
                    <div class="grid-item one-whole md-one-half lg-two-fifths">
                        <div class="software-expertise">
                            <p>Server Achitecture & </p>
                            <ul class="list-styled">
                                <li>Certified Scrum Product Owner</li>
                                <li>AWS Architect</li>
                                <li>AWS Route 53, Ec2, ElastiCache, RDS, DynamoDB</li>
                                <li>ElasticSearch</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-item one-whole md-one-half lg-two-fifths lg-push-one-fifth">

                        <div class="software-proficiency">
                            <p>Application & Frontend Frameworks</p>
                            <ul class="list-styled">
                                <li>WordPress</li>
                                <li>Django</li>
                                <li>Git</li>
                                <li>C3/D3 Charts</li>
                                <li>Bootstrap</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section class="contact section" id="contact">
    <div class="grid">
        <div class="grid-item one-whole md-one-third lg-one-quarter">
            <header class="section-heading">
                <h1 class="h4">Contact</h1>
            </header>
        </div>
        <div class="grid-item one-whole md-two-thirds lg-three-quarters">
            <div class="section-content">
                <div class="vcard clearfix">
                    <p class="author"><a class="fn url" href="http://th.linkedin.com/in/{{ site.author.linkedin_username }}">{{ site.author.name }}</a></p>
                    <!--<p class="adr margin-off"><span class="street-address">{{ site.author.address.street }}</span>, <span class="locality"> {{ site.author.address.town }}</span> <span class="postal-code"> {{ site.author.address.postcode }}</span>, <span class="country"> {{ site.author.address.country }}</span></p>-->
                    <p class="tel margin-off">Tel: <a class="telephone" href="callto:{{ site.author.phone | remove: " "}}" rel="noindex, nofollow">{{ site.author.phone }}</a></p>
                    <p class="eml margin-off">Email: <a class="email" href="mailto:{{ site.author.email }}" rel="noindex, nofollow">{{ site.author.email }}</a></p>
                    <p class="company margin-off">Web: <a class="fn url org" href="{{ site.author.website }}">{{ site.author.website }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
